*{
    margin: 0;
    padding: 0%;
}
h3{
    color: #3f51b5;
}
a{
    text-decoration: none;
}
audio{
    width: 100%;
}
.header{
    height: 90vh;
}
.navbar{
    background: linear-gradient(90deg, #3f51b5, #ec40707a);
}
.button{
    background: linear-gradient(90deg, #3f51b5, #ec40707a);
    color: #fafafa !important;
}
.pink{
    color: #ec40707a;
}
.banner-title{
    color: #fafafa;
}
.modal-container{
    position: absolute;
    width: 400;
    background: #fafafa;
    border: 3px solid #ec40707a;
    border-radius: 4px;
    padding: 20px;
}