.main-nav {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2rem;
    padding: 20px;
  }
  .ul {
    list-style-type: none;
  }
  .li {
    text-decoration: none;
  }
  a {
    text-decoration: none;
    color: rgb(89, 139, 107);
   }